@import "../../styles/global.scss";

#register-page {
  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;

  padding: 0 32px;

  .register-container {
    display: flex;
    justify-content: stretch;

    flex-direction: column;

    max-width: 320px;

    > img {
      align-self: center;
      margin-bottom: 32px;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      height: 48px;
      border-radius: 8px;
      border: none;
      margin: 12px 0 0 0;
      padding: 0 16px;
      border: 1px solid #a8a8b3;
    }

    button {
      width: 100%;
    }

    #register-button {
      margin-top: 24px;
      height: 48px;
      border-radius: 8px;
      border: none;
      font-weight: 500;

      cursor: pointer;
      border: 0;

      background: $primary-color;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
